@model IEnumerable<MyMeds.Models.Profile>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrescriberPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pharmacy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PharmacyPhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrescriberPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pharmacy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PharmacyPhone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Prescriber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Prescriber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Prescriber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
