@model IEnumerable<MyMeds.Models.Medication>

@{
    ViewData["Title"] = "Index";
}

<h1>Medications</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedicationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Directions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescriber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Refills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pharmacy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeTaken)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedicationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Directions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prescriber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Refills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pharmacy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTaken)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedicationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MedicationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MedicationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
