@model IEnumerable<MyMeds.Models.MedicationModel>

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Profile</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LogonsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Directions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescriber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Refills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pharmacy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeTaken)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LogonsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Directions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prescriber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Refills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pharmacy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTaken)
            </td>
        </tr>}
    </tbody>
</table>
